@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 50, 50, 50; /* Darker text */
  --background-start-rgb: 173, 216, 230; /* LightBlue start */
  --background-end-rgb: 240, 255, 255; /* Azure end */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 25, 25; /* Dark background */
    --background-end-rgb: 55, 55, 55;  /* Lighter shade of dark */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}
